/.idea/
/logs/
/node_modules/
/public/node_modules/

*.log
*.env

/config/local.js
/config/local-development.js
/config/local-test.js
/config/local-production.js

/yarn.lock
/public/yarn.lock

/config_old/local_config.js
